<div [class]="'rounded-xl border p-4 hover:scale-105 transition-all duration-300 ' + variantClasses.container">
  <div class="flex items-start gap-3">
    <div [class]="'-mt-0.5 ' + variantClasses.icon" [innerHTML]="iconSvg | safeHtml"></div>

    <div>
      <h4 class="mb-1 text-sm font-semibold text-rose-800/80">
        {{ title }}
      </h4>

      <p class="text-sm text-rose-500/80">{{ message }}</p>

      @if (showLink) {
      <a [routerLink]="linkHref"
        class="inline-block mt-3 text-sm font-medium text-rose-500/80 underline hover:text-gray-700">
        {{ linkText }}
      </a>
      }
    </div>
  </div>
</div>