<div class="grid grid-cols-1 lg:grid-cols-12 gap-8 mt-6 animate-pulse">
  <div class="lg:col-span-8 space-y-8">
    <div class="border-4 border-black p-6 bg-white shadow-[6px_6px_0px_0px_rgba(0,0,0,1)] h-[350px]"></div>
    <div class="border-4 border-black p-6 bg-white shadow-[6px_6px_0px_0px_rgba(0,0,0,1)] h-[250px]"></div>
  </div>
  <div class="lg:col-span-4 space-y-8">
    <div class="border-4 border-black p-6 bg-white shadow-[6px_6px_0px_0px_rgba(0,0,0,1)] h-[300px]"></div>
    <div class="border-4 border-black p-6 bg-white shadow-[6px_6px_0px_0px_rgba(0,0,0,1)] h-[300px]"></div>
  </div>
</div>
