<div class="relative flex items-center group w-full">
  @if (prefix()) {
    <div class="absolute left-4 flex items-center pointer-events-none text-black z-10 transition-colors">
      <ng-content select="[prefix]"></ng-content>
    </div>
  }

  <input
  [type]="type()"
  [placeholder]="placeholder()"
  [value]="value()"
  [disabled]="disabled()"
  [attr.autocapitalize]="'none'"
  (input)="onInput($event)"
  [class]="inputClasses()"
/>

  @if (suffix()) {
    <div class="absolute right-4 flex items-center pointer-events-none text-black z-10 transition-colors">
      <ng-content select="[suffix]"></ng-content>
    </div>
  }
</div>
